<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">



<main>
  <div class="jumbotron">
    <h1>This is great provider is <%= provider %></h1>
    <p>Welcome to templating using EJS  <%= title %></p>

    <form action="/logout" method="POST">
      <button type="submit"> Logout </button>
 </form>
  </div>
</main>



</body>
</html>
